* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 100%/1.5 $georgia;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $helvetica;
  color: $secondary;
}

h1 {
	margin: 0 0 10px 0;

	font-size: 30px;
	font-weight: 400;
	line-height: 1;

	color: $neutral;
}

/* PARAGRAPH */

p {
  font-family: $georgia;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom:0px;
}

/* HEADER & LOGO */

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  }
}

/* MAIN */
.first {
  background: url(/img/first.jpg) no-repeat;
  background-size:cover;
  min-height:900px;

}

.slider {
  background: #bc483f;
}

.third {
  background: url(/img/third.jpg) no-repeat;
  background-size:cover;
  min-height:900px;
}

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.content {
  opacity:0;
}

.active{
  opacity:1;
  .dots {
      height: 16px; 
      text-align: center;
      a{
        background: #47100c;
        border-radius: 8px; 
        display: inline-block; 
        height: 16px; margin: 0 4px; 
        vertical-align: top; width: 16px;
        -webkit-animation-name: up-fast;
        text-indent:-9999px;
      overflow:hidden;
      -webkit-animation-duration: 1000ms; 
      -webkit-animation-fill-mode: both; 
      -webkit-animation-timing-function: ease;
      }
    }
  }



.dots a:nth-child(1){ -webkit-animation-delay: 250ms;}
.dots a:nth-child(2){ -webkit-animation-delay: 375ms;}
.dots a:nth-child(3){ -webkit-animation-delay: 500ms;}
.dots a:nth-child(4){ -webkit-animation-delay: 625ms;}
.dots a:nth-child(5){ -webkit-animation-delay: 750ms;}
.dots a:nth-child(6){ -webkit-animation-delay: 1000ms;}
.dots a:nth-child(7){ -webkit-animation-delay: 1250ms;}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}



/* Keyframes */


@-webkit-keyframes up-fast{
0%{ opacity: 0; -webkit-transform: translateY(24px);}
50%{ opacity: 0.50; -webkit-transform: translateY(-12px);}
100%{ opacity: 1; -webkit-transform: translateY(0);}
 }

